<form action="/downloadVideo" method="POST">
    <div class=" center-align">
       <div class="input-field col s6 offset-s3">
      <input placeholder="Enter URL" type="text" name="url">
      </div>
      <div id="pre_button" class="col s6 offset-s3">
        <button class="waves-effect btn" >
         Download
        </button>
      </div>
      </div>
    </form>